@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  border-style: border-solid;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 400;
}

.link {
  text-decoration: underline;
  text-decoration-color: #854802;
  color: #854802;
  transition: text-decoration-color 100ms ease-in-out;
}

.link:hover {
  text-decoration-color: transparent;
}

.underline-large {
  display: inline;
  background-image: linear-gradient(
    to bottom,
    transparent 0% 40%,
    #ffe8cc 40% 100%
  );
}

.underline-medium::after {
  content: '';
  background: #854802;
  width: 3rem;
  height: 2px;
  position: relative;
  display: block;
  margin: 10px auto;
}

.cardLink::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@layer base {
  .headline--1 {
    @apply font-yrsa font-bold tracking-wide text-3xl md:text-4xl leading-none px-4 lg:mx-0
    lg:text-4xl;
  }

  .headline--2 {
    @apply font-yrsa font-semibold text-4xl pt-4 pb-2 lg:px-0;
  }

  .headline--3 {
    @apply font-yrsa font-medium text-3xl pt-4 pb-2 lg:px-0;
  }

  .headline--4 {
    @apply font-yrsa font-medium text-2xl pt-4 pb-2 lg:px-0;
  }

  .paragraph {
    @apply text-dark-600 font-normal leading-relaxed pt-4 pb-2 lg:px-0;
  }

  .underline-medium {
    @apply font-yrsa font-medium uppercase tracking-widest shadow-neutral-900 text-center text-lg mb-5;
  }
}
